Temp/FSTimeGet-6d31f4d7dd1514f47a2430dee957e190
Temp/FSTimeGet-b8b9470a137187d4081f7fdebaeeb966
Temp/FSTimeGet-ce9aee2a079f2f6459c4985b2d83a746
Temp/UnityLockfile
Library/ArtifactDB
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/ShaderCache.db
Library/SourceAssetDB
Library/Artifacts/25/2504fc086a2e875d51c4e21d2e232a2d
Library/Artifacts/2c/2c1ab359086a8de90ac6ab3eebb272aa
Library/Artifacts/9e/9e7cb415ba0641f1e3ad09f54bbcd1da
Library/Artifacts/b6/b68f8b6cf2be0313d5fa7de1789f8888
Library/Artifacts/b8/b818d4241be53d7d994ddbe4ce640d45
Library/Artifacts/ba/baa2bfbd5ed31da86f603a20f3bb4ceb
Library/Artifacts/dd/dd5086fc7690ada437aaf986200bc757
Library/Bee/backend1.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/ShaderCache/compute/TDACaptureRepelShader3161/00/4abe86ccbd555409a8dd079f45cbbc29.bin
Library/ShaderCache/compute/TDACaptureRepelShader3161/00/dfb0d1eccd4f5a8fe2e568839863da39.bin
Library/ShaderCache/compute/TDACaptureRepelShader3161/00/ec9facb6bea39897bda2f8bd129872a7.bin
Library/ShaderCache/compute/TDACaptureRepelShader3161/01/04b66b597bc4d00269cec676946b07e7.bin
Library/ShaderCache/compute/TDACaptureRepelShader3161/01/690bbb0569912825f39f63e03b7b2974.bin
Library/ShaderCache/compute/TDACaptureRepelShader3161/01/ff051afa0d39276e55aae62c3fb5fecc.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/00be6f055d98fef96fcace262ca2b81d.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/1ad884d4a3ab6819b6896b7421685e49.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/1e9d91f64cd8fdb26cfb706106ff476f.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/5b452d797d368ad8a5af4711d77e6fa5.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/8f1bf9e79b109a090ba08a8701941938.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/3099fc453186fd7d4c17d38c224dc0a2.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/65673fbdbd910bbdddae311cb2d240ae.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/00/96289c66ed6f06de97f17a3eeda4cca3.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/1aacff9479ed69b9f5a0e7eb31f72550.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/2f22af9c6cccc573adfa5f0a678b2811.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/34c657c9fb9f9a4362dfac612d8f2c59.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/526e86f18803470830bcda7778e1a804.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/868b7cad1080c07af87b82d61204024c.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/9160e1e011a12424760410206a11b882.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/cd9e1e223cad5ac59d79f3e05699e379.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/01/ff0c8ad5504c025c59ce224a4250feb5.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/00be6f055d98fef96fcace262ca2b81d.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/1fb037a3ea485bb1141f94effd3c3cbd.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/8f1bf9e79b109a090ba08a8701941938.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/23fab7311505a1f7899b314181dda6cc.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/686d15c272a823487a0a291a3ba35196.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/65673fbdbd910bbdddae311cb2d240ae.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/96289c66ed6f06de97f17a3eeda4cca3.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/02/e042d31dd9e3248f38e778a3ba30d284.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/9cd0b9dc0da3f36e2c9c44b5eda889dc.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/526e86f18803470830bcda7778e1a804.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/868b7cad1080c07af87b82d61204024c.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/9160e1e011a12424760410206a11b882.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/cd813c4f363957e8235afba5e823794e.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/d07b41a2c86123b103acaf5077277f41.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/f93e1e97d6210a963cef25f778cf5da8.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/03/ff0c8ad5504c025c59ce224a4250feb5.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/1fb037a3ea485bb1141f94effd3c3cbd.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/23fab7311505a1f7899b314181dda6cc.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/686d15c272a823487a0a291a3ba35196.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/876b39125a060fa6ebf3bb29318c211b.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/827869d5c74f95645a7693eaba90b9bd.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/e042d31dd9e3248f38e778a3ba30d284.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/eeec61616546d1b98fc68e23d6888c28.bin
Library/ShaderCache/shader/TDAFluidColorShader7f5f/04/f11d866ccca7eb5dbe0abce07b47ee28.bin
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Temp/workerlic
Temp/__Backupscenes/0.backup
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.assets.cache
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.dgspec.json
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.g.props
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.g.targets
Temp/obj/Debug/Assembly-CSharp/project.assets.json
Temp/obj/Debug/Assembly-CSharp/project.nuget.cache
Temp/obj/Debug/Assembly-CSharp-Editor/Assembly-CSharp-Editor.assets.cache
Temp/obj/Debug/Assembly-CSharp-Editor/Assembly-CSharp-Editor.csproj.nuget.dgspec.json
Temp/obj/Debug/Assembly-CSharp-Editor/Assembly-CSharp-Editor.csproj.nuget.g.props
Temp/obj/Debug/Assembly-CSharp-Editor/Assembly-CSharp-Editor.csproj.nuget.g.targets
Temp/obj/Debug/Assembly-CSharp-Editor/project.assets.json
Temp/obj/Debug/Assembly-CSharp-Editor/project.nuget.cache
UserSettings/Layouts/default-2022.dwlt
